@CHARSET "UTF-8";

.sidebar-nav {
	background-color:#333;
	border:#000 solid thin;
}

.nav-new li a{
	text-align:center;	
}

.nav-new li{
	text-align:center;	
}

.sidebar-active{
	background-color:#eee;
}

.sidebar-active a{
	color:#000;
}

.sidebar-nonactive{
	background-color:#333;
}

.sidebar-nonactive a{
	color:#fff;
}

.sidebar-second-nonactive{
	background-color:#666;
}

.sidebar-second-nonactive a{
	color:#fff;
}

.nav-new li:hover a{
	color:#000;
}

.tittle{
	font-size: 36px;
}

.button-new{
	background-color: #019875;
	border-color:#017F62;
	color:#fff;
	float:right;
}

.btn-new{
	background-color: #019875;
	border-color:#017F62;
	color:#fff;
}

.button-new:hover{
	color:#fff;
	background-color:#003333;
}

.detail-table{
	margin-top: 20px;
}

.edit{
	border-bottom:thin dashed #0033FF;
}

.a{
	white-space:pre-wrap;
}
